* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(/img/bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 440px;
  color: #000;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card img {
  width: 140px;
  border-radius: 50%;
}

.card h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  font-style: italic;
}

.card p {
  font-size: 20px;
  font-weight: 500;
}

.card .links i {
  margin: 10px 20px;
  font-size: 25px;
}

.card a {
  text-decoration: none;
}

.card .links i:hover {
  color: #00ff00;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 30px 10px;
}

.btn:hover {
  color: #00ff00;
}

::selection {
  color: #00ff00;
}

::after {
  color: aqua;
}
